body::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}
.nav-bar{
    position: absolute;
        width: 1518px;
        height: 76px;
        left: 0px;
        top: 0px;
    
        background: #00838F;
        border-radius: 0px;
        display: flex;
}
.logo{
    position: relative;
    height: 56px;
    top: 8px;
    left: 34px;
}
.item1{
    /* text-align: justify; */
    margin-left: 42px;
color: #FFFFFF;
}
.quotes1{
    margin-top: 12px;
    font-size: xx-large;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 38px;
       
}
.quotes2{
    margin-top: -25px;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
        /* identical to box height, or 150% */
        text-align: center;
    
        color: #FFFFFF;
} 
/* serch bar code */
 
.boxContainer{
    margin: auto;
    margin-top: 16.09px;;
    position: relative;
    margin-left: 100px;
    width: 472px;
    height: 42px;
    left: 214.99px;
    /* border: 4px solid #2980b9; */
    /* padding: 0px 10px; */
    border-radius: 50px;
}
.elementsContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 4px; 
    font-size: 18px;
    color: #424242;
    font-weight: 500;
}
.search:focus{
    outline: none;
}
.material-icons{
    font-size: 26;
    margin-top: 8px;
    color: #00838F;
    margin-left: -28px;
}

.icons {
    display: flex;
    align-items: center;
    padding-right: 252px;
    
}

.icon1 i{
        block-size: 10px;
        color: white;
        /* padding-right: 50px; */
               
}
.icon2 i{
        
        color: white;
        padding-left:15px ;
        
    }
    .icon3 i{
        
        color: white;
        padding-left:15px ;
        
        /* margin-right: 198px; */
}
.button{
    align-items: center;
    height: 40px;
    margin-right: 26px ;
    width: 102px;
    margin-top: 18px;
    border-radius: 4px;
    border: none;
    
}
.button span{
    font-size: large;
    color: #00838F;
    font-family:Sans-serif;
   
}

.list {
    position: absolute;
    width: 1493px;
    height: 50px;
    top: 104px;
    /* left: 50%; */
    margin-left: 49%;
    transform: translate(-50%, -50%);
    /* padding: 20px 0; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-right: 0px;
    padding-left: 0px; */
    background: #00a0ae;
    display: flex;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3)
}

ul li {
    
    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 60px;

}

ul li:last-child {
    border-right: none;
}

ul li a {
    text-decoration: none;
    padding: 0 50px;
    display: block;
}

/* Style the icon inside the navigation bar */
ul li a .icon {
    width: 40px;
    /* changing the width of the icon */
    height: 40px;
    /* changing the height of the icon */
    text-align: center;

    overflow: hidden;
    margin: 0 auto 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
        
    margin-top: -10px;
    border-radius: 50px;
    padding: 6px;

}

/* set the size, height, width of the icon*/
ul li a .icon .fa {
    width: 100%;
    height: 100%;
    line-height: 40px;
    transition: 0.5s;
    /* adding the transition to make it more attractive */
    /* color: #000; */
}

/* style the color and transform of the icon on hover */
ul li a:hover .icon .fa {
    transform: translateY(-100%);
    /* translate y to add the hover effect */
}

ul li a .name {
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
    
    /*make ul li a .name overflow is hidden*/
}

/*style the font size and set transition of the navigation menu*/
ul li a .name span {
    display: block;
    position: relative;
    color: #FFFFFF;
    font-size: 13px;
    /* changing font size */
    line-height: 15px;
    transition: 0.5s;
    /* adding the transition to make it more attractive */

}

/*set and change position, top, width, left, height color of the 'class'.name span:before*/
ul li a .name span:before {
    content: attr(data-text);
    position: absolute;
    top: -100%;
    width: 100%;
    left: 0;
    /* height: 1005; */
    color: #FFFFFF;

}

/*style hover effect of ul li a .name span */
ul li a:hover .name span {
    transform: translateY(20px);
}
/* slider code */


@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}


#slider {
    /* margin: 0 auto; */margin-top: 119px;
    width: 100%;
    overflow: hidden;
    height: 280px;
}

.slides {
    overflow: hidden;
    animation-name: fade;
    animation-duration: 3s;
    display: none;
}

img {
    width: 100%;
}

#dot {
    margin: 0 auto;
    text-align: center;
}

.dot {
    display: inline-block;
    border-radius: 50%;
    background: #d3d3d3;
    padding: 8px;
    margin: 10px 5px;
}

.active {
    background: black;
}

@media (max-width:567px) {
    #slider {
        width: 100%;

    }
}

#heading {
    display: block;
    text-align: center;
    font-size: 2em;
    margin: 10px 0px;

}
/* head text */
.all{
    padding: 10px;
}
.head-text{
    color: #007092;
        font-weight: 700;
        font-size: 35px;
        margin-left: 30px;
        
}
/* .product-container{
    width: 10px;
}
.product-list{
    /* position: absolute;
        width: 1520px;
        
        top: 620px;
        left: 50%;
        transform: translate(-50%, -50%);
        /* padding: 20px 0;
        /* padding-left: 20px; */
        
        /* padding-right: 0px; 
        padding-left: 100px;  
        
        margin-left: 50px;
        background: black;
        display: flex; 
         background-size: contain; 
}
.product-list :last-child{
    /* margin-right: -20px; 
    width: 1518px;
}
.product-images{
    /* width: auto; 
    height: 200px;
    padding: 5px;
    margin-left: -100px;
    /* background-size: contain; 
}
.un{
    width: 400px;
    height: 0px;
} */
/* .product-list{
    display: flex;
    background-color: black;
    padding: 5px;
    margin-right: 0px;
} */
.prduct-container{
    display: flex;
        background-color: rgba(255, 255, 255, 0.92);
        
}
.product-images{
    height: 250px;
    width: auto;
    padding-left: 30px;
    display: block;

    /* margin-right:5px ; */
    /* margin-top: 20px; */

}
.product-images-last{
    height: 250px;
    width: auto;
    padding-left: 30px;
    margin-right: -10px;
    display: block;

    /* margin-right:5px ; */
    /* margin-top: 20px; */

}
.bottom{
    margin-top: 20px;
    height:250px ;
    width: 1520px;
    margin-left: -10px;
    /* margin-right: -20px; */
    display: flex;
    background-color: #00838F;
}
.first-column{
    margin-left: 100px;
    margin-top: 32px;
}
.bottom-logo{
    height: 100px;
    width: auto;
}
.bottom-text{
position: absolute;
    /* width: 311px;
    height: 24px;
    left: 15px;
    top: 705px; */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    /* identical to box height, or 120% */
}
.second-column{
    margin-left: 1080px;
    margin-top: 40px;
}

